<div class="modal-dialog" style="width:700">
    <div class="modal-content">
		<div class="modal-header">
		  <h3>Edit Verbiage Block Layout</h3>
		</div>
		<div class="modal-body">
		  <h5 style="color:red;">All fields are required</h5>
		  <form ng-submit="ok()">
			  <div><label>Verbiage Block Id: </label><input ng-model="items.vbId" required/></p></div>
			  <div><label>Verbiage Block Name: </label><input ng-model="items.name" style="width: 250px;" required/></p></div>
			  <div><label>Binding Name: </label><input ng-model="items.bindingname" required/></p></div>
			  <div><label>XML File Location: </label>D:\Apps\SOWConfigurator\AppContent\XML\VerbiageBlocks\ <input ng-model="items.vbFileLoc" style="width: 100px;" required/>.xml</p></div>

			  <div class="modal-footer">
			  	<button type="button" ng-click="ok()" class="btn btn-primary">Update</button>
			  	<button type="button" ng-click="cancel()" class="btn">Cancel</button>
			  </div>
		  </form>
		</div>
	</div>
</div>