<div class="modal-dialog">
    <div class="modal-content">
		<div class="modal-header">
		  <h3>Add SOW Layout</h3>
		</div>

		<div class="modal-body">
		  <!-- <p>Name: <input ng-model="items.layoutname"/></p> -->
		  <p>Name: <input ng-model="items.layoutname"/></p>
		  <p>Sections: <input ng-model="items.sections" style="width: 250px;"/></p>
		</div>

		<div class="modal-footer">
		  <button ng-click="ok()" class="btn btn-primary">Add</button>
		  <button ng-click="cancel()" class="btn btn-primary" >Cancel</button>
		</div>
	</div>
</div>