<div class="modal-dialog">
    <div class="modal-content">
		<div class="modal-header">
		  <h3>Add Section Layout</h3>
		</div>
		<div class="modal-body">
		  <p><b>Section Id: </b><input ng-model="items.secId"/></p>
		  <p><b>Section Name: </b><input ng-model="items.secName" style="width: 250px;"/></p>
		  <p><b>XML File Location: </b>C:\Dev\Mean\AppContent\XML\Sections\<input ng-model="items.secFileLoc" style="width: 100px;"/></p>
		</div>
		</div>

		<div class="modal-footer">
		  <button ng-click="ok()" class="btn btn-primary">Add</button>
		  <button ng-click="cancel()" class="btn btn-primary" >Cancel</button>
		</div>
	</div>
</div>