<div class="modal-dialog">
    <div class="modal-content">
		<div class="modal-header">
		  <h3>Edit Section Layout</h3>
		</div>

		<div class="modal-body">
		 <form ng-submit="ok()">
			    <div><label>Section Id: </label><input ng-model="items.secId" required/></div>
			    <div><label>Section Name: <input ng-model="items.secName" style="width: 250px;" required/></div>
			    <div><label>XML File Location: </label>D:\Apps\SOWConfigurator\AppContent\XML\Sections\ <input ng-model="items.secFileLoc" style="width: 200px;" required/></div>

			    <!-- Buttons -->
			    <div class="modal-footer">
		  			<button type="button" ng-click="ok()" class="btn btn-primary">Update</button>
		  			<button type="button" ng-click="cancel()" class="btn">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>